   
   <!-- Services Start -->
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Our Services</h4>
                <h1 class="display-4 m-0">Services <span class="text-primary">Premium</span> pour chiens</h1>
            </div>
            <div class="row pb-3">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <div class="d-flex justify-content-center align-items-center" style="padding: 20px;">
                            <i class="fa fa-home fa-fw fa-4x" style="color: #65C178;"></i>
                        </div>
                        <h3 class="mb-3">Pension</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="">Lire plus</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <div class="d-flex justify-content-center align-items-center" style="padding: 20px;">
                            <i class="fa fa-cutlery fa-fw fa-4x" style="color: #65C178;"></i>
                        </div>
                        <h3 class="mb-3">Alimentation</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="">Lire plus</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <div class="d-flex justify-content-center align-items-center" style="padding: 20px;">
                            <i class="fa fa-bath fa-fw fa-4x" style="color: #65C178;"></i>
                        </div>
                        <h3 class="mb-3">Toilettage</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="">Lire plus</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <div class="d-flex justify-content-center align-items-center" style="padding: 20px;">
                            <i class="fa fa-paw fa-fw fa-4x" style="color: #65C178;"></i>
                        </div>
                        <h3 class="mb-3">Education</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="">Lire plus</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <div class="d-flex justify-content-center align-items-center" style="padding: 20px;">
                            <i class="fa fa-paw fa-fw fa-4x" style="color: #65C178;"></i>
                        </div>
                        <h3 class="mb-3">Exercices</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="">Lire plus</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <div class="d-flex justify-content-center align-items-center" style="padding: 20px;">
                            <i class="fa fa-stethoscope fa-fw fa-4x" style="color: #65C178;"></i>
                        </div>
                        <h3 class="mb-3">Soins medicaux</h3>
                        <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                        <a class="text-uppercase font-weight-bold" href="">Lire plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->