   
   <!-- Services Start -->
    <div class="container-fluid bg-light pt-4  pb-4">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h1 class="text-secondary mb-3">Nos Services</h1>

            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top h-100" src="assets/Malionois1.jpeg" alt="Image" class="card-img-top">
                            <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                                <h3 class="text-primary mb-3">Vente</h3>
                                
                            </div>
                        </div>
                        <div class="card-body text-center p-0">
                            <p>Trouvez votre compagnon idéal parmi notre sélection de chiens de race pure, élevés avec amour et soin pour enrichir votre foyer ou garder votre ferme
                            </p>
                        </div>
                        <div class="card-footer border-0 p-0">
                            <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0  h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top" src="assets/boerbool1.jpeg" alt="Image" class="card-img-top">
                            <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                                <h3 class="text-secondary mb-3">Croisement</h3>
                                
                            </div>
                        </div>
                        <div class="card-body text-center p-0">
                            <p>Notre service de croisement propose des chiens mâles de qualité supérieure pour des portées saines et bien équilibrées.

                            </p>
                        </div>
                        <div class="card-footer border-0 p-0">
                            <a href="" class="btn btn-secondary btn-block p-3" style="border-radius: 0;">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top" src="assets/Rottwailer1.jpeg" alt="Image" class="card-img-top">
                            <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                                <h3 class="text-primary mb-3">Toilettage</h3>
                               
                            </div>
                        </div>
                        <div class="card-body text-center p-0">
                            <p>Offrez à votre chien le meilleur traitement avec notre service de toilettage professionnel. 

                            </p>
                        </div>
                        <div class="card-footer border-0 p-0">
                            <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Services End -->