<!-- Navbar Start -->
<div class="container-fluid p-0">
    
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark  p-3">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Dogs</span>Lover</h1>
            </a>
            <button  type="button" class="btn btn-outline-primary d-lg-none" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true" class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                <a href="/" class="nav-item nav-link">Acceuil</a>
                <a href="./about" class="nav-item nav-link">A Propos</a>
                <a href="./services" class="nav-item nav-link">Services</a>
                <a href="/dogs" class="nav-item nav-link">Nos Chiens</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            
            
            <a href="/quote" class="btn btn-lg btn-primary px-3 d-none d-lg-block">Get Quote</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->
