
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
        <h4 class="text-secondary mb-3">Contactez nous</h4>
        <h1 class="display-4 m-0">Contactez nous pour <span class="text-primary">toutes vos questions</span></h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control p-4" id="name" placeholder="Votre Nom" required="required" data-validation-required-message="Entrer Votre nom" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control p-4" id="email" placeholder="Votre Email" required="required" data-validation-required-message="Entrer Votre email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control p-4" id="subject" placeholder="subject" required="required" data-validation-required-message="Entrer le sujet" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control p-4" rows="6" id="message" placeholder="Message" required="required" data-validation-required-message="Entrer Votre message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>
            </div>
        
        <div class="col-12 mb-n2 p-0 m-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3965.0368362005984!2d2.4572161!3d6.3892484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x102355fbcb8aa8e3%3A0xcd6c3e0d9a82dc60!2sUlane%20%26%20Friends!5e0!3m2!1sfr!2sbj!4v1707062484274!5m2!1sfr!2sbj" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- Contact End -->
