<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-secondary mb-3">Chien à vendre</h4>
        <h1 class="display-4 m-0"><span class="text-primary">Disponible</span> actuellement</h1>
    </div>
    <div class="d-flex row">
       
           
               
                    <div class="col-lg-6 mb-4 " *ngFor="let chien of chiens">
                        <div class="card h-100">
                            <div class="card-header" style="background-color: #017F8D; color: white;">
                                <h4 class="card-title">{{chien.race}}</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="{{chien.img}}" class="img-fluid rounded card-img-top" alt="{{chien.nom}}">
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Nom:</strong> {{chien.nom}}</p>
                                        <p><strong>Âge:</strong> {{chien.age}}</p>
                                        <p><strong>Description:</strong> {{chien.description}}</p>
                                        <p><strong>Prix:</strong> {{chien.prix}}</p>
                                        <ul class="list-unstyled">
                                            <li>Caractéristique 1</li>
                                            <li>Caractéristique 2</li>
                                            <li>Caractéristique 3</li>
                                        </ul>
                                        <a class="btn btn-lg btn-primary mt-3 mr-2 mt-md-4 px-4" [routerLink]="['/detailsCroissement', chien.id]" > En savoir plus </a>

                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
           
            
            
        </div>
   
</div>
